<!DOCTYPE html>
<html lang="en">
	<%-include commons/head.ejs%>
	<body>
		<%-include commons/navbar.ejs%>

<div class="container">
    <h1>Previous Deck History:</h1>
		<% for(var i=0; i<history.length; i++){%>
    	<h4><%=history[i].cards%></h4>
    <%}%>
</div><!-- /.container -->
	<!-- script references -->
		<%-include commons/scripts.ejs%>
		
	</body>
</html>
