<!DOCTYPE html>
<html lang="en">
	<head>

	</head>
	<body>
    <header>

    </header>

		<% for(var i=0; i<history.length; i++){%>
    	<li><a><%=history[i].cards%></a></li>
    <%}%>

    <footer>

    </footer>
	</body>
</html>
