<!DOCTYPE html>
<html lang="en">
	<%-include commons/head.ejs%>

	<body>
		<%-include commons/navbar.ejs%>

		<div class="container">
		  <h1>The New Deck created is:</h1>

		  <h4><%=newDeck%></h4>
		</div>

		<%-include commons/scripts.ejs%>
	</body>
</html>
