<!DOCTYPE html>
<html lang="en">
	<%-include commons/head.ejs%>

	<body>
		<%-include commons/navbar.ejs%>

		<div class="container">
			<h1>Retrieved:</h1>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Sorted</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><%=newDeck%></li>
				</ul>
			</div>
		</div>

		<%-include commons/scripts.ejs%>
	</body>
</html>
